body{
	background:#FFFFFa;
}

header{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #252932;
	margin-bottom: 10px;
}

.wrapper {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
}

header .logo {
	color:#f2f2f2;
	font-size: 50px;
	line-height: 100px;
	float: left;
}

header nav {
	float: right;
	line-height: 100px;
}

header nav a {
	display: inline-block;
	color:#fff;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size: 20px;
	font-weight: bold;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	border-radius: 50px;
}

header nav a:hover {
	background: #008080;
}

.header2 {
	position: fixed;
	height: 80px;
	z-index: 10;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.header2 .logo {
	line-height: 80px;
	font-size: 40px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.header2 nav {
	line-height: 80px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.contenido {
	padding-top: 3%;
}

.contenido p {
	margin-bottom: 1em;
}



@media screen and (max-width: 950px) {
	header .logo,
	header nav {
		width: 100%;
		text-align: center;
		line-height: 100px;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	.header2 {
		height: auto;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	.header2 .logo,
	.header2 nav {
		line-height: 50px;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
}

@media only screen and (min-width: 382px) and (max-width: 768px){
	.header2 {
		height: auto;
	}
	.menu {
		width: 100%;
		line-height: 100px;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
	.menu a {
		align-content: center;
		font-size: 18px;
	}
	.header2 .logo {
		font-size: 30px;
		align-content: center;
	}

	.wrapper {
	}
}
@media only screen and (min-width: 0px) and (max-width: 380px){
	.header2 {
		height: auto;
	}
	.menu {
		width: 100%;
		line-height: 100px;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
	.menu a {
		justify-content: center;
		font-size: 13px;
	}
	.header2 .logo {
		font-size: 25px;
		align-content: center;
	}
}



.slider {
	width: 50%;
	max-width: 500px;
	min-width: 400px;
	margin:auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 15s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {
		margin-left: 0;
	}

	20% {
		margin-left: 0;
	}

	25% {
		margin-left: -100%;
	}

	45% {
		margin-left: -100%;
	}

	50% {
		margin-left: -200%;
	}

	70% {
		margin-left: -200%;
	}

	75% {
		margin-left: -300%;
	}

	100% {
		margin-left: -300%;
	}
}