* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*//-font-family: 'Raleway', sans-serif;-//*/
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: linear-gradient(135deg, #fff, #389124);
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 101;
}

header nav {
  height: 70px;
  background: #333;
  display: flex;
  justify-content: space-between;
}

header .textos {
  text-align: center;
  color: #fff;
  margin-top: 80px;
}

header .textos h1 {
  font-size: 95px;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 10px;
}

header .textos h2 {
  font-size: 30px;
  font-weight: 600;
}

nav .logo {
  letter-spacing: 15px;
  font-size: 1.3em;
  margin-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav .logo a{
  color: white;
  text-decoration: none;
}

.icono {
  display: none;
}

.enlaces {
  display: flex;
  height: 100%;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

.enlaces a {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 4px 0;
  transition: 0.7s ease-out;
  color: #fff;
  text-decoration: none;
}

.enlaces a:hover,
.active {
  border-top: 2px solid #389124;
  border-bottom: 2px solid #389124;
}

@media screen and (max-width: 1080px) {
  .enlaces {
    width: 45%;
  }

}
@media screen and (max-width: 768px) {
  .icono {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    color: #fff;
    background: transparent;
    padding: 20px;
    z-index: 100;
    cursor: pointer;
    margin-right: 40px;
  }

  header .textos h1 {
    font-size: 75px;
  }

  .enlaces {
    position: fixed;
    height: 100vh;
    right: 0;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease;
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .uno {
    -webkit-clip-path: circle(0% at 100% 0%);
    clip-path: circle(0% at 100% 0%);

  }

  .dos {
    -webkit-clip-path: circle(150% at 100% 0%);
    clip-path: circle(150% at 100% 0%);
  }
}


@media screen and (max-width:459px){
  nav .logo{
    margin-left: 10%;
    font-size: 1.2em;
  }
  .icono{
    margin-right:10%;
  }

  header .textos h1 {
    font-size: 65px;
  }
}

@media screen and (max-width:400px){
  nav .logo{
    font-size: 1em;
  }
}
@media screen and (max-width:356px){
  nav .logo{
    font-size: 0.8em;
  }
}

/*=================================
=            Acerca De            =
=================================*/
.about-section{
  background: url(pic.jpg) no-repeat left;
  background-size: 55%;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 15px 3px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 15px 3px rgba(50, 50, 50, 0.75);
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.about-text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.about-skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width:1200px){
  .inner-container{
    padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container{
    width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
    padding: 0;
  }
  .inner-container{
    padding: 60px;
  }
}


/*=====  End of Acerca De  ======*/

/*================================
=            Contacto            =
================================*/

.contact-in
{

  width: 80%;
  height: auto;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666;
}

.contact-map
{
  width: 100%;
  height: auto;
  flex: 50%;
}
.contact-map iframe
{
  width: 100%;
  height: 100%;
}
.contact-form
{
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 30px;
  text-align: center;
}
.contact-form h1
{
  margin-bottom: 10px
}
.contact-form-txt
{
  width: 100%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-txt::placeholder
{
  color: #aaa;
}
.contact-form-textarea
{
  width: 100%;
  height: 130px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
}
.contact-form-textarea::placeholder
{
  color: #aaa;
}

.contact-form-btn
{
  width: 100%;
  border:none;
  outline: none;
  border-radius: 50px;
  background: #389124;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  font-size: 18px;
}

.contact-form form input:valid
{
  border-color: #389124;
}

/*=====  End of Contacto  ======*/


/*==============================
=            FOOTER            =
==============================*/

footer{
  background: #f1f1f1;
  padding: 90px 0;
  display: flex;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.footer-logo{
  width: 180px;
}

.social-media{
  margin: 20px 0;
}

.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: green;
}

.right-col h1{
  font-size: 26px;
}

.border{
  width: 100px;
  height: 4px;
  background: green;
}

.rights-text span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.page-content{
  min-height: 100vh;
  font-size: 16px;
  display: flex;
  align-items: center ;
  justify-content: center;
}

@media screen and (max-width:1030px) {
  .footer-container{
    max-width: 600px;
    margin-top: 50px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col{
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width:415px){
  .footer-container{
    max-width: 600px;
    
  }
}
/*=====  End of FOOTER  ======*/